{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h1>Expense Dashboard</h1>

<div class="cards">
    
    <div class="card">
        <h2>💰 Balance</h2>
        <p>₹{{ balance }}</p>
    </div>

    <div class="card">
        <h2>📈 Income</h2>
        <p>₹{{ income }}</p>
    </div>

    <div class="card">
        <h2>📉 Expense</h2>
        <p>₹{{ expense }}</p>
    </div>

</div>

<a class="btn" href="{% url 'add_transaction' %}">
    ➕ Add Transaction
</a>

<table>
    <tr>
        <th>Title</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Category</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>

    {% for t in transactions %}
    <tr>
        <td>{{ t.title }}</td>
        <td>₹{{ t.amount }}</td>
        <td>{{ t.transaction_type }}</td>
        <td>{{ t.category }}</td>
        <td>{{ t.date }}</td>
        <td>
            <a href="{% url 'edit_transaction' t.id %}"> Edit</a> |
            <a href="{% url 'delete_transaction' t.id %}"
               onclick="return confirm('Delete transaction?')">
               Delete
            </a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">No Transactions Available</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}